@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
*{box-sizing: border-box;}
body,input{font-family:'Raleway';}
:root{
	--bg:#F4DFD0;
	--card:#FDEFEF;
}

h1 {
	text-align:center;
	font-weight:lighter;
}

.title {
	margin-bottom:1em;
	font-weight:bold;
}

body {
	background-color:var(--bg);
}

.card, input {
	background-color: var(--card);
}

input:focus {
	outline:none;
}

#wrapper {
	width:80%;
	margin:0 auto;
}

#chat, #userSettings, #usersOnline, label[for="msg"], input, #onlinelist>span, #chat>span, .card {
	border:none;
	border-radius:5px;
	box-shadow:0px 1px 3px 1px #00000044;
}

input[type="button"]:hover {
	background-color:var(--bg);
}

input {
	transition:background-color 0.2s;
	margin-right:0.3em;
}

label[for="msg"]{
	display:grid;
	grid-template-columns: fit-content(1ch) 1fr;
	padding:0.5em;
	background-color:var(--card);
}

#msg {
	background-color:transparent;
	border:none;
	box-shadow:none;
}

#chat > span {
	display:block;
	padding:0.5em;
	border-radius:5px;
	margin:0.3em 0;
}

#onlinelist > span {
	display:block;
	padding:0.5em;
	border-radius:5px;
	margin:0.3em auto;
	width:95%;
}

.grid {
	display:grid;
	grid-template-areas:
		"sett sett"
		"chat chat"
		"mess mess"
		"onli onli"
		"them them";
		;
	grid-gap:0.5em;

}

#chat {
	min-height:40vh;
	overflow:auto;
	padding:1em;
	grid-area:chat;
}

.messagesettings {
	grid-area:sett;
	padding:1em;
}

.themesettings {
	grid-area:them;
	padding:1em;
}

#usersOnline {
	padding:1em;
	grid-area:onli;
}

.messageArea {
	grid-area:mess;
}

#onlinelist {
	overflow:auto;
	max-height:23vh;
}

.inputline {
	margin: 0.3em 0;
	width:100%;
}

.gridded {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.gridded.colour {
	grid-template-columns:1fr 2fr;
}

.messageArea>.gridded {
	grid-template-columns:8fr 1fr;
	grid-gap:0.5em;
}

@media only screen and (width>500px) {
	.grid {
		grid-template-areas:
		"sett onli onli"
		"chat chat chat"
		"mess mess mess"
		"them them them";
		grid-gap:1em;
	}
}

@media only screen and (width>1000px) {
	.grid {
		grid-template-areas:
		"sett them onli"
		"chat chat onli"
		"mess mess mess";
	}
}