@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
* {
    box-sizing: border-box;
}
body,
input {
    font-family: "Rubik";
}
:root {
    --bg: #f4dfd0;
    --fg: #fdefef;
    --col1: #fff8f8;
    --col2: #a89486;
}

#wrapper {
    width: 90vw;
    margin: 0 auto;
}

a,
a:visited,
nav {
    margin: 1rem 0;
    color: var(--bglink);
    text-decoration: none;
}

h1 {
    margin: 1rem 0;
    font-weight: lighter;
    font-family: Consolas, Lucida, Monospace;
}

.title {
    font-weight: bold;
}

.subtitle {
    color: var(--fglink);
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.space {
    margin: 1em 0;
}

body,
.card,
input,
a,
label {
    transition: background-color 0.3s;
}

body {
    background-color: var(--bg);
}

.card,
input,
.dropdown {
    background-color: var(--fg);
}

input:focus {
    outline: none;
}

#chat,
#userSettings,
#usersOnline,
label[for="msg"],
input,
#onlinelist > span,
#chat > span,
.card,
.dropdown {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px #00000044;
}

.dropdown {
    box-shadow: 0px 2px 3px 1px #00000044;
}

input[type="button"],
input[type="text"] {
    padding: 0.5em;
}

input[type="button"],
input[type="color"],
input[type="text"],
label[for="msg"] {
    box-shadow: 0px 1px 2px 0px #00000044;
    border-bottom: 1px solid #00000063;
    background-color: var(--col1);
}

input[type="button"]:not([disabled]):hover {
    background-color: var(--col2);
    cursor: pointer;
}

label[for="msg"] {
    display: grid;
    grid-template-columns: fit-content(1ch) 1fr;
    padding: 0.5em;
    line-height: 2em;
}

label[for="name"] {
    line-height: 2em;
}

#msg {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#chat > span {
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.3em 0;
}

#onlinelist > span {
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.3em auto;
    width: 95%;
}

.grid {
    display: grid;
    grid-template-areas:
        "sett sett"
        "chat chat"
        "mess mess"
        "onli onli"
        "them them";
    grid-gap: 0.5em;
}

#chat {
    height: 40vh;
    overflow: auto;
    padding: 1em;
    grid-area: chat;
}

.dropdown {
    padding: 1em;
}

.messagesettings {
    grid-area: sett;
    padding: 1em;
}

.themesettings {
    grid-area: them;
    padding: 1em;
}

#usersOnline {
    padding: 1em;
    grid-area: onli;
}

.messageArea {
    grid-area: mess;
}

#onlinelist {
    overflow: auto;
    max-height: 23vh;
}

.inputline {
    margin: 0.3em 0;
    width: 100%;
}

.gridded {
    display: grid;
    grid-template-columns: fit-content(100ch) fit-content(100ch);
    grid-gap: 0.5em;
    margin: 0 auto;
}

.colorline {
    display: grid;
    grid-template-columns: 1fr;
}

.messageArea > .gridded {
    grid-template-columns: 8fr 1fr;
    grid-gap: 0.5em;
}

.flex {
    display: flex;
    justify-content: center;
}

.gridded.themechoice {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    grid-gap: 0em;
    cursor: pointer;
    box-shadow: 0px 1px 1px 2px #00000044;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 0.5em;
}

.themechoice > * {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

#namecolor,
#messagecolor,
#txtcolor {
    /*display: none;*/
}

@media screen and (min-width: 30em) {
    .grid {
        grid-template-areas:
            "sett onli onli"
            "chat chat chat"
            "mess mess mess"
            "them them them";
        grid-gap: 1em;
    }
}

@media screen and (min-width: 60em) {
    #wrapper {
        width: 80vw;
    }
    .grid {
        grid-template-areas:
            "sett them onli"
            "chat chat onli"
            "mess mess mess";
        grid-template-columns: fit-content(100ch) 2fr 1fr;
    }
}
